* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
  }
  
  body {
    background-color: #FAFAFA;
  }
  
  a, li {
    font-family: 'calibri';
    color:#958FC9;   
  }


  .logo-header img {
    width: 50px;
  }
  
  header {
    background-color:#F7F7F7 ;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 2rem;
  }

  .nav-menu ul {
    display:flex;
    align-items: center;
  }

  .nav-menu li {
    margin-right: 1.5rem;
  }
 
  
  
  .nav-menu li:last-child{
 
    background-color: #6c67ac;
    border: 2px solid #6c67ac;
    padding: .25rem .75rem;
    border-radius: .2rem;
  }

  

  .nav-barra {
    position: absolute ;
    width: 200px;
    height: 163%;
    background: white;
    border: 3px solid #a8a7b3;
  }
  
  
    .nav-barra li {
      width: 86%;
      margin-right: 1.5rem;
      background-color: white ;
      border: 2px solid #a8a7b3;
      padding: .25rem .75rem;
    
    }
   
    .nav-barra li:hover {
      background-color: #a8a7b3;
    }
  
    .logo-barra {
     width: 86%;
      display:inline-block;
      margin-right: 1.5rem;
      color:white;
      background-color: #6c67ac;
      border: 2px solid #6c67ac;
      padding: .25rem .75rem;
      
      
    }
  
    .titulocaja1 {
      color: #8BC9B7;
      margin-right: 6%;  
      margin-left: 29%;
    
      margin-top: 0%;
    }
  
  .caja1 {

    background-color: #F7F7F7;

    width: 60%;
  
    height: 250px;
    float: left;
    margin-right: 5%;  
     margin-left: 29%;
   /* margin-left: 230px;*/
    border: 1px solid #8BC9B7;
    padding: 5px;
    margin-bottom: 1.5%;
    
}
.titulocaja2 {
  color: #8BC9B7;
  margin-right: 27%;  
  margin-left: 29%;
  float: left;
  margin-top: 0%;
}
  .caja2 {

    background-color: #F7F7F7;
    /*width: 400px;*/
    width: 27.5%;
    /*height: 500px;*/
    height: 300px;
    float: left;
    margin-right: 4%;  
     margin-left: 29%;
   /* margin-left: 230px;*/
    border: 1px solid #8BC9B7;
    padding: 5px;
    margin-bottom: 1%;
}

.titulocaja3 {
  color: #8BC9B7;
  margin-right: 6%;  
  margin-left: 26%;
  
}
.caja3 {
  
    background-color: #F7F7F7;
    /*width: 200px;*/
    width: 27.5%; 
    height: 300px;
    float: left;
    margin-right: 20px;
    border: 1px solid #8BC9B7;
    padding: 5px;
    margin-bottom: 1%;
   
}
.field{
	display: flex;
	flex-direction: column;

	width: 14rem;
	margin: 0.5rem 0;
}

.field label{
	font-size: 0.9rem;

	margin-bottom: 0.2rem;

	color: #696969;
}


.field select{
	font-size: 1.1rem;

	width: 7rem;
	height: 2.6rem;
	padding-left: 0.5rem;

	border: 2px solid #696969;
	border-radius: 5px;
}

.textBox{
	display: flex;
	flex-direction: column;

	width: 25rem;
	margin: 0.75rem 0;
}


textarea{
	font-size: 1.1rem;

	max-width: 52%;
	height: 5rem;
	max-height: 15rem;
	padding-top: 0.5rem;
	padding-left: 0.5rem;

    border: 1px solid #8BC9B7;
	border-radius: 5px;
}

.textBox label{
	font-size: 0.9rem;

	margin-bottom: 0.2rem;

	color: #696969;
}

.submit{
	display: flex;
	justify-content: center;

	width: 100%;
	margin-top: 1.75rem;
}

.submit button{
	width: 45%;
    color: #958FC9;
    font-size: 18px;
    border: 2px solid #6c67ac;
    background-color: #6c67ac;
    padding: .0 .40rem;
    border-radius: .2rem;
}


