* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: #FAFAFA;
}

a, li {
  font-family: 'calibri';
  color:#958FC9;   
}


.logo-header img {
  width: 50px;
}

header {
  background-color:#F7F7F7 ;
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 2rem;
}

.nav-menu ul {
  display:flex;
  align-items: center;
}

.nav-menu li {
  margin-right: 1.5rem;
}

.nav-menu li:last-child {
  margin-right: 0;
}



.nav-menu li:last-child{

  background-color: #6c67ac;
  border: 2px solid #6c67ac;
  padding: .25rem .75rem;
  border-radius: .2rem;
}





.wrap {
  width: 90%;
  max-width: 1000px;
  margin: 0 20px;
 left: 10px;
 
  /*margin: auto;*/
}


.formulario > div {
  padding: 20px 0;
  margin-left: 10px;
  margin-bottom: -10px;
  
 
}






.buscar{
  position:absolute;
  padding: 5px;
  margin: 0 20px;
  width: 43%;
  
}

.buscar input{

 width: 55%;
  height: 40px;
  padding: 0 20px;
  font-size: 18px;
  color: grey;
  outline: none;
  border: 1px solid silver;
  border-radius: 10px;
}

.btn{
position: absolute;
top: 0;
right: 0;
background-color: #6c67ac;
width: 60px;
height: 40px;
line-height: 50px;
text-align: center;

font-size: 40px;
border-radius: 10px;
margin: 0 31%;
}

div{
  display: inline-table;
}


.caja1 {
  background-color: #F7F7F7;
  float: left;
  width: 30%;
  height: 700px;
  line-height: 200px;
  border: 1px solid #8BC9B7;
  padding: 5px;
  margin: 0 20px;
  margin-bottom: 1%;
}

.caja2 {
  background-color: #F7F7F7;
  float: left;
  width: 25%;
  height: 300px;
  line-height: 200px;
  border: 1px solid #8BC9B7;
  padding: 5px;
  margin-right: 30px;
  margin-bottom: 1%;
}

.caja3 {
  background-color: #F7F7F7;
  float: inline-end;
  width: 25%;
  height: 300px;
  line-height: 200px;
  border: 1px solid #8BC9B7;
  padding: 5px;
  margin-right: 30px;
  margin-bottom: 1%;
}

p {
  color: #8BC9B7 ;
  font-size: 20px;
}

.caja4 {
  background-color: #F7F7F7;
  float: left;
  width: 25%;
  height: 300px;
  line-height: 200px;
  border: 1px solid #8BC9B7;
  padding: 5px;
  margin-right: 30px;
  margin-bottom: 1%;
}

.caja5 {
  background-color: #F7F7F7;
  float: inline-end;
  width: 25%;
  height: 300px;
  line-height: 200px;
  border: 1px solid #8BC9B7;
  padding: 5px;
  margin-right: 30px;
  margin-bottom: 1%;
}

